@use '../../SasScript/src/ss.scss';

#root > #stats {
   @include ss.flex(column);
}

dialog {
   @include ss.fullscreen;

   > :nth-child(1) {
      @include ss.flex($justify-content: space-between, $align-items: center);

      img {
         @include ss.imgbutton;

         border: 0;
      }
   }
}

form {
   @include ss.reset;
   @include ss.flex(column);

   > * {
      margin-bottom: 15px !important;
   }

   > #del {
      color: ss.$red;
   }
}

#add {
   @include ss.position(fixed, $bottom: 20px, $left: 20px);

   background-color: ss.$white;
   box-sizing: content-box;
   border-radius: 50%;
   padding: 7px;
   height: 45px;

   img {
      height: inherit;
   }
}

#edit > img {
   display: none;
}

// Components
.box {
   @include ss.block('blur');

   margin: 0 0 15px 0;

   h2,
   h4 {
      margin: 0;
   }

   .footer {
      @include ss.flex($justify-content: space-between);

      .badges {
         @include ss.flex($align-items: center);

         img {
            height: 16px;
            margin-right: 3px;
         }

         span {
            margin-right: 10px;
         }
      }
   }

   > .info {
      font-size: 1.4rem;
   }
}

.fieldset {
   @include ss.reset;
   @include ss.border('inline');

   cursor: text;

   input {
      @include ss.reset;

      outline: 0;
      padding: 0 10px 7px;
      width: 100%;
   }
}

.info {
   @include ss.flex($justify-content: space-between);
}
